* {
    box-sizing: border-box;
}

body {
    background-color: #00240B;
    color: #0CF551;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

h1, h2, h3 {
    font-family: Verdana, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FF0000;
}

a:hover {
    text-decoration: dashed;
    color: #FFFFFF;
}

.small-img {
    max-width: 25%;
}

.medium-img {
    max-width: 75%;
}

figure {
    font-style: italic;
    text-align: center;
}

.list-container1 {
    text-align: left;
    width: auto;
    list-style-type: disc;
}

.list-container1 ul {
    list-style-type: circle !important;
}

.list-container2 {
    text-align: left;
    width: auto;
    list-style-type: none;
    border: 1px solid #0CF551;
}

.container {
    display: inline-block;
    text-align: center;
}

.container > ol {
    text-align: left;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px auto;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    border-bottom: 3px solid ;
}

fieldset:last-of-type {
    border-bottom: none;
}

legend {
    text-align: left;
    font-weight: bold;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  resize: none;
}

button {
    margin: 10px 0 0 0;
    width: 20%;
    min-height: 2em;
    resize: none;
    background-color: #113800;
    border: 1px solid #113800;
    color: #FFFFFF;
}

hr {
    border: 1px solid #113800;
}

button:hover {
    filter: grayscale(1);
    cursor: pointer;
}

input, textarea, select {
    background-color: #113800;
    border: 1px solid #113800;
    color: #FFFFFF;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
}

::placeholder {
    color: #FFFFFF;
    opacity: 75%;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    filter: grayscale(1);
    cursor: pointer;
}

.custom-table tr:first-child {
    background-color: #061500;
}

.custom-table th, .custom-table td {
    border: 2px solid #113800;
}

.custom-table tr:nth-child(even) {
    background-color: #133f03;
}

figure {
    font-style: normal;
}

figcaption {
    font-style: italic;
}

.calc-container {
    box-sizing: inherit;
    margin: 0 auto;
    max-width: 200px;
    background-color: #1b1c1a;
    border-radius: 2.5%;
    padding: 15px;
}

.calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.calc-keys button {
    width: auto;
}

.slideshow-container {
    position: relative;
    background-color: #113800;
}

.slides {
    display: none;
}

.slidetext {
    color: #FF0000;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
}

.caption-container {
    text-align: center;
    background-color: #113800;
    color: #0CF551;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
} 

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body {
        font-size: 100%;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body {
        font-size: 75%;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body {
        font-size: 65%;
    }
}