<header>
    <h1>Ariel Vera's Adept Viper &#9964; ITIS 3135</h1>

    <nav>
        <a href="./">Home</a>
        &#9964;
        <a href="introduction.html">Introduction</a>
        &#9964;
        <a href="contract.html">Contract</a>
        &#9964;
        <a href="tables.html">Tables</a>
        &#9964;
        <a href="forms.html">Forms</a>
        &#9964;
        <a href="website_evaluations.html">Website Evaluations</a>
        &#9964;
        <a href="firstscripts.html">First Scripts</a>
        &#9964;
        <a href="byo_intro.html">BYO Intro</a>
        &#9964;
        <a href="about.html">About</a>
    </nav>

    <nav>
        <a href="./stuff/PA&is$TExa&.htm" target="_blank">CRAPPY</a>
    </nav>
</header>
<hr>